*.iml
.gradle
.app/src/main/com/sumpaulo/ecommerce_jetpack/core/Config.kt
./core/Config.kt
Config.kt
./Config.kt
/Config.kt
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
